<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576"  />
  </system.web>
  <appSettings>
    <add key="mailAccount" value="" />
    <add key="mailPassword" value="" />
    <add key="mailServer" value="" />
    <add key="mailPort" value="" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="albumURL" value="https://www.flickr.com/photos/160523648@N03/albums" />
  </appSettings>
  <connectionStrings>
   <!-- <add name="KMDaycare" connectionString="Data Source=DataBaist;Initial Catalog=KMDaycare;Integrated Security=True" />-->
    <!--<add name="KMDaycare" connectionString="Data Source=DESKTOP-HM19UCO;Initial Catalog=BAISTCapstoneTest;Integrated Security=True" />-->
    <add name="KMDaycare" connectionString="Data Source=.;Initial Catalog=KMDaycare;Integrated Security=True" />
  </connectionStrings>

</configuration>
