<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576"   />
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="mailAccount" value="" />
    <add key="mailPassword" value="" />
    <add key="mailServer" value="" />
    <add key="mailPort" value="" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="albumURL" value="" />
  </appSettings>
  <connectionStrings>
   <add name="KMDaycare" connectionString="Data Source=DataBaist;Initial Catalog=KMDaycare;Integrated Security=True" />
  </connectionStrings>

</configuration>
